# FastAPI & Server
fastapi
uvicorn
python-multipart
python-dotenv
email-validator
httpx

# Security & Session
pyjwt
passlib[argon2]
argon2-cffi

# Database
pymongo
motor

# ML & Vector Search
numpy>=1.26
tqdm
huggingface-hub>=0.23

# PDF Parsing & LangChain
pymupdf
langchain-text-splitters
langchain-community
langchain-mistralai
langgraph